[DEFAULT]
# Example configuration file
# If you need details about the syntax, see https://docs.python.org/3/library/configparser.html

# Your Ethereum wallet's public key
# You can copy-paste it from your MetaMask browser extension

# this has a typo I guess but it still works because of the automatic validation?
# Fake address for demonstration:
user_wallet_public_key = 0x4F110F12c98418f45955f50Cb7671B1907F4C2a8

# Your Ethereum wallet's private key in 64-byte hex form
# This is only needed if you want the buy order to succeed.
# Example:
# user_wallet_private_key = 000000000000f9d0ad8b41b51baf1d19cccec61556ea5075e9ed0dff2cbe5
user_wallet_private_key = 000000000000f9d0ad8b41b51baf1d19cccec61556ea5075e9ed0dff2cbe5

# The smart contract address of the token you want to trade
# On EtherDelta.com, click "Tokens" in the top-right hand corner,
# click the token you want to trade and copy-paste the 0x... address.
# Exceed (EXC): Smart Contract: 0x1eae15d9f4fa16f5278d02d2f8bda8b0dcd31f71

